.navbar-color{
    background-color: #000000;
}
.underline{
    text-decoration: underline solid #DCFF04;
}
.weight{
    font-weight: bold;
    color: #DCFF04;
}
.jumbotron-img{
    background-image: url("./img/1.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    height: 300px;
    
}
.j-img{
    background-repeat: no-repeat;
    background-position: center; 
    height: 250px;
    width: 250px;
    margin: 20px;
    
}
.about{
    color: white;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}
.cl{
    color:#DCFF04;
}
.circle1 {
    height: 150px;
    background-color: #13E8E8;
    border-radius: 50%;
    width: 150px;
  }
  .circle2{
    height: 150px;
    
    background-color: #A4ED5B;
    border-radius: 50%;
    width: 150px;
  }
  .circle3 {
    height: 150px;
    background-color: #F56D76;
    border-radius: 50%;
    width: 150px;
  }
.te-al{
    text-align: center;
    color: white;
}
